<div id="div">
  <table class="tabela">
    <tr>
      <th class="th">Nome:</th>
      <td>Gustavo Vasconcelos</td>
    </tr>

    <tr>
      <th>Curso:</th>
      <td>Desenvolvimento de Sistemas</td>
    </tr>

    <tr>
      <th>Objetivo Profissional:</th>
      <td>Dublagem</td>
    </tr>

    <tr>
      <th>Hobbies:</th>
      <td>jogar vôlei, video-game, </td>
    </tr>

    <tr>
      <th>Contato linkedin</th>
      <td>não tenho</td>
    </tr>

    <tr>
      <th>GitHub:</th>
      <td>Gustavo_Vasconcelos</td>
    </tr>

    <tr>
      <th>Nome:</th>
      <td>Guilherme Oliveira</td>
    </tr>

    <tr>
      <th>Curso:</th>
      <td>Inglês e Desenvolvimento de Sistemas</td>
    </tr>

    <tr>
      <th>Objetivo Profissional:</th>
      <td>Soldado Militar </td>
    </tr>

    <tr>
      <th>Hobbies:</th>
      <td>Jogar Bola e Jogar Vídeo-Game</td>
    </tr>

    <tr>
      <th>Contato Linkedin:</th>
      <td>Não Tenho</td>
    </tr>

    <tr>
      <th>GitHub:</th>
      <td>Não Tenho</td>
    </tr>
</table>
</div>
<router-outlet></router-outlet>
